<div id="keyboard-cont">
  <div class="first-row">
    <button class="btn btn-info keyboard-button">q</button>
    <button class="btn btn-info keyboard-button">w</button>
    <button class="btn btn-info keyboard-button">e</button>
    <button class="btn btn-info keyboard-button">r</button>
    <button class="btn btn-info keyboard-button">t</button>
    <button class="btn btn-info keyboard-button">y</button>
    <button class="btn btn-info keyboard-button">u</button>
    <button class="btn btn-info keyboard-button">i</button>
    <button class="btn btn-info keyboard-button">o</button>
    <button class="btn btn-info keyboard-button">p</button>
  </div>
  <div class="second-row">
    <button class="btn btn-info keyboard-button">a</button>
    <button class="btn btn-info keyboard-button">s</button>
    <button class="btn btn-info keyboard-button">d</button>
    <button class="btn btn-info keyboard-button">f</button>
    <button class="btn btn-info keyboard-button">g</button>
    <button class="btn btn-info keyboard-button">h</button>
    <button class="btn btn-info keyboard-button">j</button>
    <button class="btn btn-info keyboard-button">k</button>
    <button class="btn btn-info keyboard-button">l</button>
  </div>
  <div class="third-row">
    <button class="btn btn-info keyboard-button">Del</button>
    <button class="btn btn-info keyboard-button">z</button>
    <button class="btn btn-info keyboard-button">x</button>
    <button class="btn btn-info keyboard-button">c</button>
    <button class="btn btn-info keyboard-button">v</button>
    <button class="btn btn-info keyboard-button">b</button>
    <button class="btn btn-info keyboard-button">n</button>
    <button class="btn btn-info keyboard-button">m</button>
    <button class="btn btn-info keyboard-button">Enter</button>
  </div>
</div>