<div class="d-flex p-5 align-items-center flex-column">
  <h2>Think you can guess correctly?</h2>
  <button
    type="button"
    id="start-game-btn"
    class="btn btn-success start-game-btn"
  >Start Game</button>
</div>