<header>
  {{> navbar}}
</header>

<main class="card mx-auto mt-5 " style="min-width: 18rem; max-width: 75%">
  {{> game-board}}
</main>

<footer>
    {{> footer}}
</footer>

<script src="/assets/js/onLoad.js"></script>
<script src="/assets/js/index.js"></script>